
.err_msg {
    color:red;
}

.info_msg {
    color:red;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yokosen {
    text-decoration: line-through;
    color:red;
}
